<div class="wrapper">
    <div class="modal">
        <h1>Nova conta bancária</h1>
        <form {{ action "save" model on="submit" }}>
            <div class="input-container">
                {{ input value=model.title placeholder="Titulo..." }}
            </div>
            <input type="submit" value="salvar" class="btn"/>
            {{#link-to "accounts" class="btn"}}
                voltar
            {{/link-to}}
        </form>
    </div>
</div>