<div class="modal-wrapper">
    <div class="modal"> 
        <h2>Visualização de contas </h2>

        <table>
            <tbody>
                <tr>
                    <th>Conta</th>
                    <td>{{ model.title}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        {{#link-to "accounts" class="btn"}}
            voltar
        {{/link-to}}
         {{#link-to "accounts.edit" model.id class="btn"}}
            editar
        {{/link-to}}
         {{#link-to "accounts.remove" model.id class="btn"}}
            remover
        {{/link-to}}
    </div>
</div>