<h1>Contas</h1>
<p>Gerenciamento de contas bancárias</p>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Conta estática <small>Caixa 0888 - 0989819-9</small></td>
            <td>
                <a href="" class="btn">ver</a>
            </td>
        </tr>
    </tbody>
</table>