<h1>Contas</h1>
<p>Gerenciamento de contas bancárias</p>

{{ outlet }}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Título</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Conta estática <small>Caixa 0888 - 0989819-9</small></td>
            <td>
               {{#link-to "accounts.view" 1 class="btn"}}
                 ver
               {{/link-to}}
            </td>
        </tr>
    </tbody>
</table>